fastapi
uvicorn
pydantic
pandas
numpy
scikit-learn
statsmodels
python-multipart
streamlit
requests
python-dotenv
sqlmodel

# Gemini
google-genai

# Opcional – ADK (se quiser brincar com agentes depois)
google-adk

plotly

# PostgreSQL
psycopg2-binary>=2.9.9

# Balança Toledo (serial)
pyserial>=3.5
